/* General selectors/html/body */
body {
    background: url( "../assets/spaaace.png" );
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
* {
    font-family: sans-serif;
    font-weight: bold;

    /* You can't select buttons as text. This has benefits in the same sense that you can't select text from GUI elements from your OS. */
    user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

/* Start screen */
div#startScreen {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
}
div#startScreen img#logo {
    top: 40%;
    transform: translateX( -50% );
    animation: unset;
    width: 80%;
    max-width: 700px;
}
div#startScreen p {
    color: white;
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translateX( -50% )
}
div#startScreen p:nth-of-type( 2 ) {
    top: 65%;
}

/* Main screen */
img#logo {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translateX( -50% );
    width: 60%;
    max-width: 560px;
    animation: logoAnimation 1s ease;
}
div#textElements {
    color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -40% );
    text-align: center;
    white-space: pre;
}
div#textElements a {
    display: block;
    position: relative;
    white-space: pre;
    margin-top: 0;
    margin-bottom: 0;
    pointer-events: none;
    color: white;
    text-decoration: none;
}
div#textElements a.selected::after {
    content: "";
    background: white;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 50%;
    left: -40px;
    transform: translateY( -50% );
}

/* Animations */
@keyframes logoAnimation {
    0% {
        top: 40%;
        transform: translateX( -50% );
        width: 80%;
        max-width: 700px;
    }
    100% {
        top: 30%;
        transform: translateX( -50% );
        width: 60%;
        max-width: 560px;
    }
}

/* Making links touch-friendly */
@media only screen and (max-width: 800px) { /* If you're using a phone... (which probably has a width <= 800px */

    div#textElements a {
        
        pointer-events: all;

    }

}