#!/usr/bin/env xdg-open
[Desktop Entry]
Name=InfiniteShooter
GenericName=InfiniteShooter
Comment=A shooter game
Exec=InfiniteShooter.x86_64
Icon=com.pastthepixels.InfiniteShooter
Type=Application
Categories=Game
